* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; width: 100vw;
    background-size: cover;
    background-position: center;
    background-color: blue;
}





.navbar {
    position: absolute;
    height: 7vh; width: 100vw;
    top: 0;
}
i {
    position: absolute;
    font-size: x-large;
    margin-top: 5% ;
    margin-left: 5%;
    color: white;

    visibility: collapse;
}
.thename {
    position: relative;
    justify-self: center;
    align-self: center;
    width: 40vw;
    margin-top: 6% ; margin-left: 30vw;
    font-size: larger;
    color: white;
    font-family: Arial;
}





.container_parent {
    position: absolute;
    width: 100vw; height: 85vh;
    margin-top: 15vh;
    background-color: white;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}
.container_child_books {
    position: absolute;
    height: 92%; width: 90vw;
    z-index: 100;
    display: flex;
    overflow: auto;

    visibility: visible;
}
.container_child_moduls {
    position: absolute;
    display: flexbox;
    align-items: center;
    height: 90%; width: 90%;
    overflow: auto;

    visibility: collapse;
}
.container_child_lessons {
    position: absolute;
    display: flex; flex-direction: column;
    align-items: center;
    height: 90%; width: 90%;
    overflow: auto;

    visibility: collapse;
}





.book {
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    height: 70vh; width: 90%; 
    margin: 2% 3% 3% 3%;
    background-color: aqua;
    border-radius: 13px;
    box-shadow: 2px 5px 8px 2px rgba(173, 144, 144, 0.8);
}
.img {
    position: absolute;
    top: 0;
    height: 80%; width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    flex-shrink: 0;
}
.info {
    position: absolute;
    height: 25%; width: 96%;
    align-self: end;
    margin-bottom: 7vh;
}
.book_name {
    position: absolute;
    font-size: x-large;
    background-origin: padding-box;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left: 0; margin-right: 0;
}
.book_lvl {
    position: absolute;
    font-family: "Commissioner", sans-serif;
    font-size: small;
    background-origin: padding-box;
    justify-content: center;
    text-align: center;
    width: 100%; margin-top: 9%;
}
.book_descrip {
    position: absolute;
    background-origin: padding-box;
    justify-content: center;
    font-family: "Commissioner", sans-serif;
    font-size: medium;
    width: fit-content; height: max-content;
    margin-top: 15%;
    white-space: normal;
}
.book_open_button {
    position: absolute;
    align-self: end;
    height: 5vh; width: 96%;
    margin-bottom: 1vh;
    background-color: blue;
    border-radius: 9px;
    border: 0px solid blue;
    color: white;
    font-size: medium;
}
.book_open_button:active {
    color: green;
    background-color: white;
}

#book_one {
    background-color: #A8E6CF;
}
#book_two {
    background-color: #DCE775;
}
#book_three {
    background-color: #FFF176;
}
#book_four {
    background-color: #FFD54F;
}
#book_five {
    background-color: #FF8A65;
}
#book_six {
    background-color: #E57373;
}
#book_seven {
    background-color: #BA68C8;
}
#book_eight {
    background-color: #C62828;
}




.modul {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    height: 10vh; width: 94%; 
    margin: 3%;
    background-color: aqua;
    border-radius: 13px;
    box-shadow: 2px 5px 8px 2px rgba(173, 144, 144, 0.8);
}
.modul_wrapper {
    position: relative;
    height: fit-content;
    margin: 3% 50% 3% 5%;
    width: 48%;
}
.modul_name {
    position: relative;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    width: fit-content; height: fit-content;
}
.modul_descrip {
    position: relative;
    font-family: Arial;
    font-size: medium;
    width: fit-content; height: fit-content;
}
.modul_open_button {
    position: absolute;
    align-self: end;
    margin-left: 60%; margin-bottom: 4%;
    height: 50%; width: 35%;
    border: 0px; border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: medium;
}
.modul_open_button:active {
    color: green;
    background-color: white;
}





.lesson {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    height: 10vh; width: 94%; 
    margin: 3%;
    background-color: aqua;
    border-radius: 13px;
    box-shadow: 2px 5px 8px 2px rgba(173, 144, 144, 0.8);
}
.lesson_wrapper {
    position: absolute;
    height: fit-content;
    margin: 3% 50% 2% 5%;
    width: 48%;
}
.lesson_name {
    position: relative;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    width: fit-content; height: fit-content;
}
.lesson_descrip {
    position: relative;
    font-family: Arial;
    font-size: medium;
    width: fit-content; height: fit-content;
}
.lesson_open_button {
    position: absolute;
    align-self: end;
    margin-left: 60%; margin-bottom: 4%;
    height: 50%; width: 35%;
    border: 0px; border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: medium;
}
.lesson_open_button:active {
    color: green;
    background-color: white;
}





