* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; min-width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url(assets/jpg/background_two.jpeg);
}



.greating {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-left: 15vw; margin-right: 15vw;
}
.ayat {
    color: white;
}
.nomer {
    color: white;
    margin-left: 25vw;
}



.buttons {
    position: absolute;
    justify-self: center;
    height: fit-content; width: fit-content;
    margin-top: 35vh;
}
.start_button {
    color: white;
    width: 95px; height: 35px;
    background: transparent; border: 2px solid white;
    border-radius: 6px;
}
.start_button:active {
    color: green;
    background-color: white;
}



